@import'settings.scss';

body {
  background-image: url(../images/bg-body.png);
  font-family:'Shippori Mincho', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 15px;
}